html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div#side {
	float: left;
	width: 240px;
	height: 100%;
	background-color: #f7f4ef;
	border-right: 1px solid #4c433e;
}

div#bottom {
	height: 60px;
	margin-left: 240px;
	background-color: #4c433e;
	overflow-x: auto;
}

div#map {
	margin-left: 240px;
}