.leaflet-container {
	background-color: #f4e9d7;
}

.leaflet-popup-content-wrapper {
	-webkit-border-radius: 0;
	border-radius: 0;
	background: rgba(50,50,50,.75);
	box-shadow: none;
}

.leaflet-popup-content {
	margin: 8px 15px;
}