html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div#side {
	float: left;
	width: 240px;
	height: 100%;
	background-color: #f7f4ef;
	border-right: 1px solid #4c433e;
}

div#bottom {
	height: 60px;
	margin-left: 240px;
	background-color: #4c433e;
	overflow-x: auto;
}

div#timeline {
	height: 10px;
}

div#map {
	margin-left: 240px;
}

div.timeline-day {
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 1px 2px;
	vertical-align: middle;
	cursor: pointer;
}

div.timeline-event {
	border-radius: 50%;
	background-color: #c0b6ad;
}

div.timeline-event:hover, div.timeline-event.selected {
	background-color: #faf7f2;
	width: 7px;
	height: 7px;
	margin: 1px;
}

/* MAP MARKERS */

.map-marker {
	border-radius: 50%;
	background-color: #82322d;
}

/* MAP POPUPS */

.popup-name p {
	margin: 0 5px;
}

.popup-name p, .dudes, .dude {
	display: inline-block;
}

.dude {
	width: 4px;
	height: 10px;
	margin: 0 1px;
	background-color: #ccc;
}

/* LEAFLET OVERRIDES */

.leaflet-container {
	background-color: #f4e9d7;
}