.leaflet-popup { color: #f4e9d7; cursor: pointer;}

.popup-name p {
	margin: 0 5px;
	font-weight: bold;
}

.popup-name p, .dudes, .dude {
	display: inline-block;
}

.dude {
	width: 4px;
	height: 10px;
	margin: 0 1px;
	background-color: #ccc;
}

.probe-units {
	border-top: 1px solid #f4e9d7;
	font-style: italic;
	padding-top: 10px;
	margin-top: 10px;
}

.leaflet-popup.rebels .leaflet-popup-content-wrapper {
	background: rgba(125,49,44,.75);
}
.leaflet-popup.militia .leaflet-popup-content-wrapper {
	background: rgba(46,77,10,.75);
}
.leaflet-popup.maroons .leaflet-popup-content-wrapper {
	background: rgba(91,42,92,.75);
}
.leaflet-popup.army .leaflet-popup-content-wrapper {
	background: rgba(115,86,25,.75);
}
.leaflet-popup.navy .leaflet-popup-content-wrapper {
	background: rgba(44,46,93,.75);
}