.leaflet-popup { color: #f4e9d7; cursor: pointer;}

.popup-name p {
	margin: 0 5px;
	font-weight: bold;
	line-height: 26px;
}

.popup-name p, .dudes, .dude, .halfdude {
	display: inline-block;
	height: 26px;
	vertical-align: middle;
}

.dude {
	margin: 0px;
	width: 8px;
	background-image: url(../images/troop.png);
}

.halfdude {
	margin: 0px;
	width: 4px;
	background-image: url(../images/troops50.png);
}

.dudes {
	float: right;
	margin-left: 10px;
}

.probe-units {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #f4e9d7;
	font-style: italic;
}

.leaflet-popup.rebels .leaflet-popup-content-wrapper {
	background: rgba(130,51,46,.75);
}
.leaflet-popup.militia .leaflet-popup-content-wrapper {
	background: rgba(25,120,114,.75);
}
.leaflet-popup.maroons .leaflet-popup-content-wrapper {
	background: rgba(94,45,95,.75);
}
.leaflet-popup.army .leaflet-popup-content-wrapper {
	background: rgba(52,81,12,.75);
}
.leaflet-popup.navy .leaflet-popup-content-wrapper {
	background: rgba(46,48,96,.75);
}
.leaflet-popup.conspiracy .leaflet-popup-content-wrapper {
	background: rgba(167,143,14,.75);
}
.leaflet-popup.slave-court .leaflet-popup-content-wrapper {
	background: rgba(157,86,28,.75);
}
.leaflet-popup.clash .leaflet-popup-content-wrapper {
	background: rgba(77, 67, 62,.75)
}