div#side {
	float: left;
	width: 240px;
	height: 100%;
	border-right: 1px solid #4c433e;
	background-color: #f7f4ef;
}

#controls{
	padding: 7px 20px;
	height: 30px;
	cursor: pointer;
}

#controls div{
	float: left;
	width: 55px;
	height: inherit;
	background-color: #4d433e;
	background-position: center center;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	line-height: 30px;
}

#controls #play{
	width: 85px;
	border-right: 1px solid #3c342c;
	border-left: 1px solid #3c342c;
}

#controls #prev{
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	background-image: url(../images/prev.png);
}

#controls #next{
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	background-image: url(../images/next.png);
}

#date{
	clear: both;
	margin-left: 20px;
	color: #4d433e;
	font: bold 18px / 50px 'PT Serif', serif;
}

#text{
	overflow-y: auto;
	padding: 0 20px;
	font-style: italic;
	font-size: 14px;
}