div#timeline-container {
	margin-left: 25px;
	height: 100%;
	overflow-x: hidden;
}

@media (pointer: coarse) {
	div#timeline-container {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}
}

div#timeline {
	height: 100%;
	position: relative;
}

div.timeline-day {
	display: inline-block;
	width: 9px;
	height: 50px;
	vertical-align: middle;
	cursor: pointer;
}

div.timeline-event > div {
	height: 5px;
	width: 5px;
	margin: 2px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #c0b6ad;
}

div.timeline-day:hover > div, div.timeline-day.selected > div {
	margin: 1px;
	width: 7px;
	height: 7px;
	background-color: #faf7f2;
}

.month-label {
	position: absolute;
	margin: 0;
	color: #c0b6ad;
	font-size: 11px;
	margin-left: 5px;
}

.timeline-divider {
	width: 1px;
	position: absolute;
	background-color: #c0b6ad;
	height: 50px;
	bottom: 0;
}

#track {
	position: relative;
	top: 10px;
	z-index: 10;
}

#scroll-left, #scroll-right {
	width: 35px;
	background-position: 0 center;
	background-repeat: no-repeat;
	height: 100%;
	cursor: pointer;
}

#scroll-left:hover, #scroll-right:hover {
	background-position: -35px center;
}

#scroll-left {
	float: left;
	background-image: url(../images/scrollLeft.png);
}

#scroll-right {
	float: right;
	background-image: url(../images/scrollRight.png);
}

#timeline-probe {
	display: none;
	position: absolute;
	background: rgba(77, 67, 62,.75);
	bottom: 59px;
	margin: 0;
	padding: 3px 7px;
	color: #f4e9d7;
	font-weight: bold;
	white-space: nowrap;
	z-index: 9999;
}