div#timeline {
	height: 100%;
	position: relative;
}

div.timeline-day {
	display: inline-block;
	margin: 1px 2px;
	width: 5px;
	height: 5px;
	vertical-align: middle;
	cursor: pointer;
}

div.timeline-event {
	border-radius: 50%;
	background-color: #c0b6ad;
}

div.timeline-event:hover, div.timeline-event.selected {
	margin: 1px;
	width: 7px;
	height: 7px;
	background-color: #faf7f2;
}

.month-label {
	position: absolute;
	margin: 0;
	color: #c0b6ad;
	font-size: 11px;
	margin-left: 5px;
}

.timeline-divider {
	width: 1px;
	position: absolute;
	background-color: #c0b6ad;
	height: 50px;
	bottom: 0;
}